#about{
    margin-top: 40px;
    margin-bottom: 30px;
    h2{
        margin-bottom: 30px;
        font-size: 30px;
        font-family: 'Exo 2', sans-serif;
        color: #13317F;
    }
    p{
        font-size: 15px;
    }
}