<div class="info">
  <h2 class="news-share-title">Bizimlə əlaqə saxlayın</h2>
  <div class="news-share-container">
    <div class="news-share news-share_telegram"><a target="_blank" href="https://t.me/oxuaznews">Bizi Telegram-da
        oxuyun. Azərbaycanın və dünyanın ən vacib xəbərləri</a></div>
    <div class="news-share news-share_whatsapp"><a target="_blank" href="https://wa.me/+994558457967">Şahidi olduğunuz
        hadisələri çəkib bizə göndərin!</a></div>
    <div class="news-share news-share_fb">
      <div class="news-share-large">
        <div class="fb-like" data-action="recommend" data-layout="standard" data-share="false" data-show-faces="true"
          data-width="500"></div>
      </div>
    </div>
  </div>
</div>
