//Fonts
$primary-font: 'Exo 2', sans-serif;

// Colors
$primary-color: #000;
$secondary-color: #e90c71;
$third-color: #373435;
$title-color: #212529;
$red-color: #e82c76;
$white-color: #fff;
$border-color: #efefef;