<div style="position: relative; z-index: 2;">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar><span>Xeberim.az</span></mat-toolbar>
      <button (click)="drawer.toggle()" *ngIf="isHandset$ | async" class="button-close text-white">
        <mat-icon>close</mat-icon>
      </button>
      <mat-nav-list>
        <ul class="social-links">
          <li class="ng-star-inserted">
            <a href="https://www.facebook.com/qazetaz/">
              <i class="fa-facebook fa-facebook-f fab"></i>
            </a>
          </li>
          <li class="ng-star-inserted">
            <a href="https://www.instagram.com/qazetaz/">
              <i class="fa-instagram fa-instagram-f fab"></i>
            </a>
          </li>
          <li class="ng-star-inserted">
            <a href="https://twitter.com/qazetaz1">
              <i class="fa-twitter fa-twitter-f fab"></i>
            </a>
          </li>
          <li class="ng-star-inserted">
            <a>
              <i class="fa-youtube fa-youtube-f fab"></i>
            </a>
          </li>
          <li class="ng-star-inserted">
            <a href="https://t.me/gazetaz">
              <i class="fa-telegram fa-telegram-f fab"></i>
            </a>
          </li>
          <!---->
        </ul>
      </mat-nav-list>
      <mat-nav-list *ngFor="let category of categories;let i = index">
        <ul class="category-items">
          <li><a (click)="drawer.toggle()" *ngIf="isHandset$ | async" mat-list-item
              routerLink="/app/category/{{category.id}}/news"><span>{{ category.name }}</span></a></li>
        </ul>

      </mat-nav-list>
    </mat-sidenav>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-sidenav-container>

</div>
