.sidenav-container {
  height: 100%;
}

span {
  color: #fff;
}

.social-links {
  margin-bottom: 20px;
  justify-content: space-around;

  li {
    cursor: pointer;
    margin-right: 10px;

    a {
      color: #fff;
      font-size: 20px;
    }
  }
}

.button-close {
  position: absolute;
  top: 9px;
  right: 21px;
  border: none;
  background-color: inherit;
  color: #fff;
}

.category-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  li{
    margin-bottom: 10px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .2);
  }
}

.sidenav {
  left: 0;
  width: 100%;
  visibility: visible;
  background-color: #373435;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

$breakpoint-tablet: 770px;

@media (min-width: $breakpoint-tablet) {
  .sidenav {
    display: none;
  }

  .sidenav-container {
    display: none;
  }
}
