.header-navbar {
  z-index: 10;
  width: 100%;

  .navbar {

    .navbar-menus {
      display: flex;
      width: 100%;

      .social {
        margin-bottom: 20px;
        justify-content: space-around;

        li {
          cursor: pointer;
          margin-right: 10px;

          a {
            color: $white-color;
            font-size: 20px;
          }
        }
      }
    }

    .navbar-brand {
      margin-right: 40px;
    }

    .navbar-nav {
      .nav-item {
        margin-right: 5px;

        .nav-link {
          position: relative;
          transition: all .4s linear;
          color: $primary-color;

          &:hover {
            background: #1894A0;
            border-radius: 8px;
            cursor: pointer;
            color: $white-color;
          }

        }
      }
    }

    .nav-actions {
      position: relative;
      display: flex;
      align-items: center;
      list-style-type: none;
      margin-bottom: 0px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 31px;
        bottom: 0;
        width: 2px;
        height: 18px;
        transform: translateY(-56%);
        background-color: #d9d9d9;
      }
    }
  }
}
.loader-container{
  position: fixed;
  width: 100%;
  z-index: 1;
}

$breakpoint-tablet: 1000px;

@media (max-width: $breakpoint-tablet) {
  .navbar {
    z-index: 2;

    .navbar-toggler {
      z-index: 5;
      padding: 0;
      cursor: pointer;
      font-size: 23px;
      text-align: center;
      border: none;
    }

    .navbar-menus {
      flex-direction: column;
      left: 0;
      top: 0px;
      bottom: 0;
      transform: translateX(-125%);
      height: 100vh;
      z-index: 101;
      position: fixed;
      width: 310px;
      overflow-y: scroll;
      background-color: $third-color;
      padding: 50px 35px 35px 35px;
      box-shadow: 0px 3px 5px rgb(100 100 100 / 69%);
      transition: all 0.5s ease-in;

      &.show {
        transform: translateX(0);
      }

      .m-brand-logo {
        display: block !important;
        position: absolute;
        left: 35px;
      }

      .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        cursor: pointer;
        color: $white-color;
        font-size: 20px;

        a {
          color: $white-color;
        }
      }

      .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;

        .nav-item {
          margin-bottom: 10px;
          border-bottom: 1px solid hsla(0, 0%, 100%, .2);
          padding: 8px 0;

          .nav-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $white-color;
            text-decoration: none;
            font-size: 17px;
            font-weight: 700;

            &:hover {
              background-color: $primary-color;
            }
          }

          .nav-submenu {
            width: 100% !important;
            background-color: $primary-color !important;

            li {
              a {
                color: $white-color !important;
                font-size: 11px !important;
                padding-left: 20px !important;
                display: inline-block !important;
              }
            }
          }
        }
      }

      .nav-actions {
        text-align: center !important;
        justify-content: flex-start !important;
        margin-top: 20px;
        position: absolute;
        top: -5px;
        left: 34px;

        &::after {
          display: none;
        }

        .shopping-cart {
          display: none;
        }
      }
    }
  }
}
