#news-item {
  padding: 30px 0;

  .news-item {
    border-bottom: 2px solid $border-color;
  }

  .news-detail-head {
    width: 100%;

    .news-detail-subhead {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;

      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: $third-color;

        .date {
          margin-bottom: 20px;

          .actual {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $red-color;
            margin-right: 10px;
          }

          .publishDay {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $third-color;

            .time {
              position: relative;
              display: inline-block;
              margin: 0 14px 0 0;

              &::after {
                content: "";
                position: absolute;
                top: calc(50% - 3px);
                right: -8px;
                width: 3px;
                height: 3px;
                background: $third-color;
              }
            }
          }
        }
      }
    }
  }

  .news-detail-body {
    .news-image {
      img {
        width: 100%;
        border-radius: 8px;
      }

      .img-info {
        display: flex;
        padding: 15px 0;
        align-items: center;
        margin: 10px 5px 10px 0;
        border-bottom: 2px solid $border-color;

        .ng-star-inserted {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $third-color;
          margin-right: 5px;

          span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #373435;
            margin-right: 5px;
          }

          a {
            border-radius: 8px;
            padding: 7px 15px;
            text-decoration: none;
            cursor: pointer;
            background: $border-color;
            margin-right: 5px;

            img {
              width: 100px;
              border-radius: 0;
              height: auto;
              margin-bottom: 20px;
              vertical-align: top;
            }
          }
        }
      }
    }
  }

  .news-detail-text {
    font-size: 19.5px;
  }

  .news-detail-img {
    margin-bottom: 20px;
  }

  .news-detail-comment {
    h2 {
      margin-bottom: 20px;
      font-size: 22px;
      color: #13317F;
    }

  }
}
.other-category{
  color: #13317F;
  font-size: 28px;
  font-weight: 700;
}
$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .span-responsive {
    display: none !important;
  }
}
