.slider {
  .mainOwlSlider {
    img {
      display: block;
      width: 100%;
      height: 542px;
      border-radius: 4px;
      position: relative;
      object-fit: cover;
    }

    .news-title {
      position: relative;
      max-width: 100%;

      h3 {
        position: absolute;
        bottom: 50px;
        left: 35px;
        color: $white-color;
        z-index: 99999;
        font-size: 25px;
        text-align: center;
        background: rgba(22, 26, 81, .5098039215686274);
        padding: 10px;
        width: 91%;
        border-radius: 4px;
        
        &:hover{
          text-decoration: underline;
        }
      }
    }

    .slider-info {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
      margin: 6px 0;
      flex-direction: column;

      .auth-info {
        display: flex;
        justify-content: flex-end;
        order: 2;
        align-items: center;

        .news-date {
          text-align: right;

          p {
            color: $red-color;
          }
        }
      }
    }

  }
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .slider {
    margin-bottom: 30px;
  }

  .owl-nav {
    bottom: -9px !important;
  }

  .main-slider {
    img {

      height: 211px !important;
      border-radius: 8px !important;
    }

    h3 {
      bottom: 8px !important;
      left: 16px !important;
      font-size: 16px !important;
      display: block;
      width: 91% !important;
    }
  }

  .news-date {
    display: none !important;
  }
}

$breakpoint-tablet: 990px;

@media (max-width: $breakpoint-tablet) {
  .news-title {
    h3 {
      left: 0 !important;
      width: 100% !important;
    }
  }
}
