<header id="scrolltop">
  <div class="container">
    <div class="row">
      <app-navbar></app-navbar>
    </div>
    <div class="row">
      
        <div class="col-md-8 category-items">
          <app-category></app-category>
        </div>
       <div class="col-md-4 d-flex justify-content-end align-items-center responsive">
        <app-search></app-search>
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="copyright">
          <p>Müəllif hüquqları © 2021. xeberim.az Bütün hüquqlar qorunur.</p>
        </div>
        <app-contact-us></app-contact-us>
      </div>
      <div class="col-lg-6">
        <div class="social-links">
          <ul class="ng-star-inserted">
            <span class="follow-me">Bizi izləyin : </span>
            <li class="ng-star-inserted"><a href="https://www.facebook.com/tapo49" target="_blank"><i class="fa-facebook fa-facebook-f fab"></i></a></li>
            <li class="ng-star-inserted"><a href="https://www.instagram.com/alishov.49/" target="_blank"><i class="fa-instagram fa-instagram-f fab"></i></a></li>
            <li class="ng-star-inserted"><a href="https://twitter.com/tapdiq49" target="_blank"><i class="fa-twitter fa-twitter-f fab"></i></a></li>
            <li class="ng-star-inserted"><a href="https://www.youtube.com/channel/UCOdPpOk5HsQcve5PHYSP5IQ" target="_blank"><i class="fa-youtube fa-youtube-f fab"></i></a></li>
          </ul>
        </div>
      </div>
      <button (click)="scrollToTop()" class="scrollTop"><i class="fas fa-chevron-up"></i></button>
    </div>
  </div>
</footer>
