
.logo{
  a{
    &:hover{
      color: #000;
    }
  }
  
}
.day {
  align-self: center;
  margin-left: 25px;
}

li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  a {
    color: #000;
    text-decoration: none;
    transition: transform .5s linear;
    &:hover{
      transform: scale(1.1);
    }
    i {
      font-size: 20px;
    }
  }
}

.abouts{
  font-family: 'Exo 2', sans-serif;
  margin-right: 20px;
}
$breakpoint-tablet: 770px;

@media (max-width: $breakpoint-tablet) {
 .social-links{
   display: none;
 }
 .day{
   display: none;
 }
 .abouts{
   margin-right: 0;
 }
}